#text1  {
  font-family: 'Press Start 2P', cursive;
}
#text4  {
  font-family: 'Press Start 2P', cursive;
}
#text2  {
  font-family: 'Press Start 2P', cursive;
}
#end  {
  font-family: 'Press Start 2P', cursive;
}
#text5 {
  font-family: 'Press Start 2P', cursive;
}
